*.exe
*.EXE

/target
**/*.rs.bk
.DS_Store
.netvan-api-data/
*.db
*.db-journal
*.db-wal
*.db-shm
release/
agent-logs/
.armin/

# --- auto: github-commit-push-all-repos ---
# --- end auto ---
# --- auto: large files (>5MB) ---
target\debug\deps\clap_derive-e8914f44be9c7b36.pdb
target\debug\deps\displaydoc-db9a8f50ac2bdcb6.pdb
target\debug\deps\futures_macro-2dc38289b2e55f7d.pdb
target\debug\deps\libcc-b50d21f6a8ff388c.rlib
target\debug\deps\libfind_msvc_tools-642765557548836e.rlib
target\debug\deps\libsyn-451a02bf20fcb40f.rlib
target\debug\deps\libsyn-5ac5457ff5f1011c.rlib
target\debug\deps\libsynstructure-69367d5324eb4ffd.rlib
target\debug\deps\libvcpkg-78a8959ac7d77f7c.rlib
target\debug\deps\serde_derive-d8a7de545ad3ecfc.pdb
target\debug\deps\thiserror_impl-d21f0a77713349dd.pdb
target\debug\deps\tokio_macros-51bf70d52e7ab497.pdb
target\debug\deps\tracing_attributes-50f7caf9e2756cda.pdb
target\debug\deps\windows_implement-251308c6a21921c2.pdb
target\debug\deps\windows_implement-57a1f8005b62e6bc.pdb
target\debug\deps\windows_interface-8ffe17d300a3f256.pdb
target\debug\deps\windows_interface-cd1c33308fc0c6eb.pdb
target\debug\deps\yoke_derive-4b970a2f8e267acb.pdb
target\debug\deps\zerofrom_derive-29e833687a861d1b.pdb
target\debug\deps\zerovec_derive-f9a1bf344033ec66.pdb
target\x86_64-pc-windows-msvc\debug\netvan-api.exe
target\x86_64-pc-windows-msvc\debug\netvan_api.pdb
target\x86_64-pc-windows-msvc\debug\deps\libaxum-d2e0dfec7da2483c.rlib
target\x86_64-pc-windows-msvc\debug\deps\libaxum-d2e0dfec7da2483c.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libchrono-ac841ddbfea86e1a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libclap_builder-637987b29495f77a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libfutures_util-66b7c9f7d337a11b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libhyper-9645cdf2a6f52950.rlib
target\x86_64-pc-windows-msvc\debug\deps\libhyper_util-c8dbcc7d3c543364.rlib
target\x86_64-pc-windows-msvc\debug\deps\libicu_locale_core-1489c2b2deb8c3c5.rlib
target\x86_64-pc-windows-msvc\debug\deps\libicu_properties-6967b8656ef904e7.rlib
target\x86_64-pc-windows-msvc\debug\deps\liblibsqlite3_sys-2ef15c76b57886b9.rlib
target\x86_64-pc-windows-msvc\debug\deps\libnetvan_collectors-ba9410c5ad421524.rlib
target\x86_64-pc-windows-msvc\debug\deps\libnetvan_core-97e6d3b8ac913d13.rlib
target\x86_64-pc-windows-msvc\debug\deps\libntapi-7950acb3b24a1608.rlib
target\x86_64-pc-windows-msvc\debug\deps\libntapi-7950acb3b24a1608.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libregex_automata-e6210e424c4bc7e0.rlib
target\x86_64-pc-windows-msvc\debug\deps\libregex_syntax-5972ff20ac639dc1.rlib
target\x86_64-pc-windows-msvc\debug\deps\libreqwest-60a8ef61c22dd503.rlib
target\x86_64-pc-windows-msvc\debug\deps\libring-1130332dad5e91be.rlib
target\x86_64-pc-windows-msvc\debug\deps\librusqlite-ab53f1cd14e7fcb3.rlib
target\x86_64-pc-windows-msvc\debug\deps\librustls-3a88589665958e3d.rlib
target\x86_64-pc-windows-msvc\debug\deps\libserde_core-0e62290910630aec.rlib
target\x86_64-pc-windows-msvc\debug\deps\libserde_json-e833f20220b426fa.rlib
target\x86_64-pc-windows-msvc\debug\deps\libsysinfo-0596703d16d0813a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtokio-3c1f42d6f9991fb1.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtokio-3c1f42d6f9991fb1.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libtracing_subscriber-68833b139f9a3058.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtungstenite-bdd9a737f3d16f28.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwebpki-91dd36d0791a215b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwinapi-4bce9b1a40dbf286.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwinapi-4bce9b1a40dbf286.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows-320ac82c29182614.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows-320ac82c29182614.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows-5064eb3647138b2f.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows-5064eb3647138b2f.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_core-d365f2956f12346b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-30c5c72307543f74.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-30c5c72307543f74.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-5e2e58690ff7b8eb.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-5e2e58690ff7b8eb.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-7eb8d192b88066e2.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-7eb8d192b88066e2.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-fed3ac1881e7737c.rlib
target\x86_64-pc-windows-msvc\debug\deps\libzerocopy-025752c7cdfb9cb2.rlib
target\x86_64-pc-windows-msvc\debug\deps\libzerocopy-025752c7cdfb9cb2.rmeta
target\x86_64-pc-windows-msvc\debug\deps\netvan_api.exe
target\x86_64-pc-windows-msvc\debug\deps\netvan_api.pdb
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\61rlal19q7gqy3t1ubx6mvio9.o
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\61rlal19q7gqy3t1ubx6mvio9.o
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl0at42zlg-0qmx0ua-5074ve700wg04i06r1sdy9j2g\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl0at42zlg-0qmx0ua-5074ve700wg04i06r1sdy9j2g\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl15mtxoqm-1igphlr-dsjs0nm3k17ypsdclkfi9awrm\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl15mtxoqm-1igphlr-dsjs0nm3k17ypsdclkfi9awrm\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl0astpepj-0a285v0-evyeawbkf2jw5zhux5e6t0ma9\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl0astpepj-0a285v0-evyeawbkf2jw5zhux5e6t0ma9\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl15mtladp-1ykpzt0-aewi7wgnpr64ukktf836g8517\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl15mtladp-1ykpzt0-aewi7wgnpr64ukktf836g8517\query-cache.bin
