*.exe
*.EXE

/target
**/*.rs.bk
.DS_Store
.netvan-api-data/
*.db
*.db-journal
*.db-wal
*.db-shm
release/
agent-logs/
.armin/

# --- auto: github-commit-push-all-repos ---
# --- end auto ---
# --- auto: large files (>5MB) ---
target\debug\deps\clap_derive-e8914f44be9c7b36.pdb
target\debug\deps\displaydoc-db9a8f50ac2bdcb6.pdb
target\debug\deps\futures_macro-2dc38289b2e55f7d.pdb
target\debug\deps\libcc-b50d21f6a8ff388c.rlib
target\debug\deps\libfind_msvc_tools-642765557548836e.rlib
target\debug\deps\libsyn-451a02bf20fcb40f.rlib
target\debug\deps\libsyn-5ac5457ff5f1011c.rlib
target\debug\deps\libsynstructure-69367d5324eb4ffd.rlib
target\debug\deps\libvcpkg-78a8959ac7d77f7c.rlib
target\debug\deps\serde_derive-d8a7de545ad3ecfc.pdb
target\debug\deps\thiserror_impl-d21f0a77713349dd.pdb
target\debug\deps\tokio_macros-51bf70d52e7ab497.pdb
target\debug\deps\tracing_attributes-50f7caf9e2756cda.pdb
target\debug\deps\windows_implement-251308c6a21921c2.pdb
target\debug\deps\windows_implement-57a1f8005b62e6bc.pdb
target\debug\deps\windows_interface-8ffe17d300a3f256.pdb
target\debug\deps\windows_interface-cd1c33308fc0c6eb.pdb
target\debug\deps\yoke_derive-4b970a2f8e267acb.pdb
target\debug\deps\zerofrom_derive-29e833687a861d1b.pdb
target\debug\deps\zerovec_derive-f9a1bf344033ec66.pdb
target\x86_64-pc-windows-msvc\debug\netvan-api.exe
target\x86_64-pc-windows-msvc\debug\netvan_api.pdb
target\x86_64-pc-windows-msvc\debug\deps\libaxum-d2e0dfec7da2483c.rlib
target\x86_64-pc-windows-msvc\debug\deps\libaxum-d2e0dfec7da2483c.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libchrono-ac841ddbfea86e1a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libclap_builder-637987b29495f77a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libfutures_util-66b7c9f7d337a11b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libhyper-9645cdf2a6f52950.rlib
target\x86_64-pc-windows-msvc\debug\deps\libhyper_util-c8dbcc7d3c543364.rlib
target\x86_64-pc-windows-msvc\debug\deps\libicu_locale_core-1489c2b2deb8c3c5.rlib
target\x86_64-pc-windows-msvc\debug\deps\libicu_properties-6967b8656ef904e7.rlib
target\x86_64-pc-windows-msvc\debug\deps\liblibsqlite3_sys-2ef15c76b57886b9.rlib
target\x86_64-pc-windows-msvc\debug\deps\libnetvan_collectors-ba9410c5ad421524.rlib
target\x86_64-pc-windows-msvc\debug\deps\libnetvan_core-97e6d3b8ac913d13.rlib
target\x86_64-pc-windows-msvc\debug\deps\libntapi-7950acb3b24a1608.rlib
target\x86_64-pc-windows-msvc\debug\deps\libntapi-7950acb3b24a1608.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libregex_automata-e6210e424c4bc7e0.rlib
target\x86_64-pc-windows-msvc\debug\deps\libregex_syntax-5972ff20ac639dc1.rlib
target\x86_64-pc-windows-msvc\debug\deps\libreqwest-60a8ef61c22dd503.rlib
target\x86_64-pc-windows-msvc\debug\deps\libring-1130332dad5e91be.rlib
target\x86_64-pc-windows-msvc\debug\deps\librusqlite-ab53f1cd14e7fcb3.rlib
target\x86_64-pc-windows-msvc\debug\deps\librustls-3a88589665958e3d.rlib
target\x86_64-pc-windows-msvc\debug\deps\libserde_core-0e62290910630aec.rlib
target\x86_64-pc-windows-msvc\debug\deps\libserde_json-e833f20220b426fa.rlib
target\x86_64-pc-windows-msvc\debug\deps\libsysinfo-0596703d16d0813a.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtokio-3c1f42d6f9991fb1.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtokio-3c1f42d6f9991fb1.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libtracing_subscriber-68833b139f9a3058.rlib
target\x86_64-pc-windows-msvc\debug\deps\libtungstenite-bdd9a737f3d16f28.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwebpki-91dd36d0791a215b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwinapi-4bce9b1a40dbf286.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwinapi-4bce9b1a40dbf286.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows-320ac82c29182614.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows-320ac82c29182614.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows-5064eb3647138b2f.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows-5064eb3647138b2f.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_core-d365f2956f12346b.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-30c5c72307543f74.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-30c5c72307543f74.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-5e2e58690ff7b8eb.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-5e2e58690ff7b8eb.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-7eb8d192b88066e2.rlib
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-7eb8d192b88066e2.rmeta
target\x86_64-pc-windows-msvc\debug\deps\libwindows_sys-fed3ac1881e7737c.rlib
target\x86_64-pc-windows-msvc\debug\deps\libzerocopy-025752c7cdfb9cb2.rlib
target\x86_64-pc-windows-msvc\debug\deps\libzerocopy-025752c7cdfb9cb2.rmeta
target\x86_64-pc-windows-msvc\debug\deps\netvan_api.exe
target\x86_64-pc-windows-msvc\debug\deps\netvan_api.pdb
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\61rlal19q7gqy3t1ubx6mvio9.o
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl0at57kku-0ltyfgo-151z78ydbnozuxi341ktnu6ke\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\61rlal19q7gqy3t1ubx6mvio9.o
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_api-2sxzrjfd4lqnb\s-hl15muln4d-0y8yuu0-f29izocrj00w1hyn30306re3p\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl0at42zlg-0qmx0ua-5074ve700wg04i06r1sdy9j2g\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl0at42zlg-0qmx0ua-5074ve700wg04i06r1sdy9j2g\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl15mtxoqm-1igphlr-dsjs0nm3k17ypsdclkfi9awrm\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_collectors-2dvzirwuzpfte\s-hl15mtxoqm-1igphlr-dsjs0nm3k17ypsdclkfi9awrm\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl0astpepj-0a285v0-evyeawbkf2jw5zhux5e6t0ma9\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl0astpepj-0a285v0-evyeawbkf2jw5zhux5e6t0ma9\query-cache.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl15mtladp-1ykpzt0-aewi7wgnpr64ukktf836g8517\dep-graph.bin
target\x86_64-pc-windows-msvc\debug\incremental\netvan_core-3bv9lz05voezk\s-hl15mtladp-1ykpzt0-aewi7wgnpr64ukktf836g8517\query-cache.bin

# auto-managed large files (>5MB)
target/debug/build/libsqlite3-sys-d1c707e74e366388/build-script-build.exe
target/debug/build/libsqlite3-sys-d1c707e74e366388/build_script_build-d1c707e74e366388.exe
target/debug/build/ring-8afc65ef5df53d7b/build-script-build.exe
target/debug/build/ring-8afc65ef5df53d7b/build_script_build-8afc65ef5df53d7b.exe
target/debug/deps/clap_derive-88a80a16a43867ec.dll
target/debug/deps/displaydoc-dad6a9ccf1ec3577.dll
target/debug/deps/futures_macro-e7ddf1f99917a626.dll
target/debug/deps/libsyn-ca041d623cf46fe1.rlib
target/debug/deps/libsyn-d399f579724c371b.rlib
target/debug/deps/libwindows_sys-3d5669fe59d55179.rlib
target/debug/deps/libwindows_sys-3d5669fe59d55179.rmeta
target/debug/deps/libwindows_sys-e5b579492bc5b2a8.rlib
target/debug/deps/libwindows_sys-e5b579492bc5b2a8.rmeta
target/debug/deps/serde_derive-75150f9804e73c4c.dll
target/debug/deps/thiserror_impl-b8c538e0f40b8d8e.dll
target/debug/deps/tokio_macros-8af92928224b09d6.dll
target/debug/deps/tracing_attributes-0be9d5d500777c64.dll
target/debug/deps/windows_implement-00dff7e93beda736.dll
target/debug/deps/windows_implement-e4e8d3a5408fbd44.dll
target/debug/deps/windows_interface-0310d79550f53e38.dll
target/debug/deps/windows_interface-b259d3c0d5c4d332.dll
target/debug/deps/yoke_derive-f826bce2a3f31a70.dll
target/debug/deps/zerofrom_derive-dd9a06a0508d3aca.dll
target/debug/deps/zerovec_derive-4ca9621f548c2673.dll
target/x86_64-pc-windows-gnu/debug/netvan-api.exe
target/x86_64-pc-windows-gnu/debug/build/libsqlite3-sys-b9d91609a21a9fbe/out/c877a2978823c39d-sqlite3.o
target/x86_64-pc-windows-gnu/debug/build/libsqlite3-sys-b9d91609a21a9fbe/out/libsqlite3.a
target/x86_64-pc-windows-gnu/debug/deps/libaxum-ad5f04d3fa74b6c6.rlib
target/x86_64-pc-windows-gnu/debug/deps/libaxum-ad5f04d3fa74b6c6.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libclap_builder-b0832f9c58b396bf.rlib
target/x86_64-pc-windows-gnu/debug/deps/libfutures_util-5703669c62cd5466.rlib
target/x86_64-pc-windows-gnu/debug/deps/liblibsqlite3_sys-367e6eb6aeb34119.rlib
target/x86_64-pc-windows-gnu/debug/deps/libnetvan_collectors-fd7a77c4d6753cad.rlib
target/x86_64-pc-windows-gnu/debug/deps/libnetvan_core-3ae2db30426a1f0b.rlib
target/x86_64-pc-windows-gnu/debug/deps/libntapi-5744d5fb571b3032.rlib
target/x86_64-pc-windows-gnu/debug/deps/libntapi-5744d5fb571b3032.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libregex_automata-f40c59e5e26f8ce4.rlib
target/x86_64-pc-windows-gnu/debug/deps/libregex_syntax-1bcfdb0bc29cc1f7.rlib
target/x86_64-pc-windows-gnu/debug/deps/libreqwest-27d0411038e03325.rlib
target/x86_64-pc-windows-gnu/debug/deps/libring-8307813ae5424406.rlib
target/x86_64-pc-windows-gnu/debug/deps/librustls-c2f3bbc997e50e98.rlib
target/x86_64-pc-windows-gnu/debug/deps/libsysinfo-0801674e987fad4f.rlib
target/x86_64-pc-windows-gnu/debug/deps/libtokio-47ef90f1936f7b24.rlib
target/x86_64-pc-windows-gnu/debug/deps/libtokio-47ef90f1936f7b24.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libtracing_subscriber-66feb3bb316d5352.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwinapi-68d868ac6fa70417.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwinapi-68d868ac6fa70417.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows-245a0ab06b6ac8a9.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows-245a0ab06b6ac8a9.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows-297130d70759fff0.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows-297130d70759fff0.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-331931a9454d8cb7.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-331931a9454d8cb7.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-3e5cb3877c715b05.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-4baf89831a2bfc0d.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-4baf89831a2bfc0d.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-b69c9285892438b1.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-b69c9285892438b1.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libzerocopy-be2a8191e43c1b19.rlib
target/x86_64-pc-windows-gnu/debug/deps/libzerocopy-be2a8191e43c1b19.rmeta
target/x86_64-pc-windows-gnu/debug/deps/netvan_api-36294351ffdfc971.exe
target/x86_64-pc-windows-gnu/debug/incremental/netvan_api-31r4qtnn769nv/s-hkzwqnaobf-1h9luyu-5djomkv8pfuggk4ki6mfmdq8v/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_api-31r4qtnn769nv/s-hkzwqnaobf-1h9luyu-5djomkv8pfuggk4ki6mfmdq8v/query-cache.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_collectors-0d0zrwzjtlri4/s-hkzwqetpxl-1t8c3n9-6uv8pqg480n6w5o9xhhkvb07d/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_collectors-0d0zrwzjtlri4/s-hkzwqetpxl-1t8c3n9-6uv8pqg480n6w5o9xhhkvb07d/query-cache.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_core-354mh8gtwxtwb/s-hkzwpvdji5-1u6vfwg-68qlu4tzdce4hembmua0yqp1l/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_core-354mh8gtwxtwb/s-hkzwpvdji5-1u6vfwg-68qlu4tzdce4hembmua0yqp1l/query-cache.bin

# === auto-managed large files (>5MB) ===

# BEGIN AUTO-MANAGED LARGE FILES (>5MB)
target/debug/build/libsqlite3-sys-d1c707e74e366388/build-script-build.exe
target/debug/build/libsqlite3-sys-d1c707e74e366388/build_script_build-d1c707e74e366388.exe
target/debug/build/ring-8afc65ef5df53d7b/build-script-build.exe
target/debug/build/ring-8afc65ef5df53d7b/build_script_build-8afc65ef5df53d7b.exe
target/debug/deps/clap_derive-88a80a16a43867ec.dll
target/debug/deps/displaydoc-dad6a9ccf1ec3577.dll
target/debug/deps/futures_macro-e7ddf1f99917a626.dll
target/debug/deps/libsyn-ca041d623cf46fe1.rlib
target/debug/deps/libsyn-d399f579724c371b.rlib
target/debug/deps/libwindows_sys-3d5669fe59d55179.rlib
target/debug/deps/libwindows_sys-3d5669fe59d55179.rmeta
target/debug/deps/libwindows_sys-e5b579492bc5b2a8.rlib
target/debug/deps/libwindows_sys-e5b579492bc5b2a8.rmeta
target/debug/deps/serde_derive-75150f9804e73c4c.dll
target/debug/deps/thiserror_impl-b8c538e0f40b8d8e.dll
target/debug/deps/tokio_macros-8af92928224b09d6.dll
target/debug/deps/tracing_attributes-0be9d5d500777c64.dll
target/debug/deps/windows_implement-00dff7e93beda736.dll
target/debug/deps/windows_implement-e4e8d3a5408fbd44.dll
target/debug/deps/windows_interface-0310d79550f53e38.dll
target/debug/deps/windows_interface-b259d3c0d5c4d332.dll
target/debug/deps/yoke_derive-f826bce2a3f31a70.dll
target/debug/deps/zerofrom_derive-dd9a06a0508d3aca.dll
target/debug/deps/zerovec_derive-4ca9621f548c2673.dll
target/x86_64-pc-windows-gnu/debug/netvan-api.exe
target/x86_64-pc-windows-gnu/debug/build/libsqlite3-sys-b9d91609a21a9fbe/out/c877a2978823c39d-sqlite3.o
target/x86_64-pc-windows-gnu/debug/build/libsqlite3-sys-b9d91609a21a9fbe/out/libsqlite3.a
target/x86_64-pc-windows-gnu/debug/deps/libaxum-ad5f04d3fa74b6c6.rlib
target/x86_64-pc-windows-gnu/debug/deps/libaxum-ad5f04d3fa74b6c6.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libclap_builder-b0832f9c58b396bf.rlib
target/x86_64-pc-windows-gnu/debug/deps/libfutures_util-5703669c62cd5466.rlib
target/x86_64-pc-windows-gnu/debug/deps/liblibsqlite3_sys-367e6eb6aeb34119.rlib
target/x86_64-pc-windows-gnu/debug/deps/libnetvan_collectors-fd7a77c4d6753cad.rlib
target/x86_64-pc-windows-gnu/debug/deps/libnetvan_core-3ae2db30426a1f0b.rlib
target/x86_64-pc-windows-gnu/debug/deps/libntapi-5744d5fb571b3032.rlib
target/x86_64-pc-windows-gnu/debug/deps/libntapi-5744d5fb571b3032.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libregex_automata-f40c59e5e26f8ce4.rlib
target/x86_64-pc-windows-gnu/debug/deps/libregex_syntax-1bcfdb0bc29cc1f7.rlib
target/x86_64-pc-windows-gnu/debug/deps/libreqwest-27d0411038e03325.rlib
target/x86_64-pc-windows-gnu/debug/deps/libring-8307813ae5424406.rlib
target/x86_64-pc-windows-gnu/debug/deps/librustls-c2f3bbc997e50e98.rlib
target/x86_64-pc-windows-gnu/debug/deps/libsysinfo-0801674e987fad4f.rlib
target/x86_64-pc-windows-gnu/debug/deps/libtokio-47ef90f1936f7b24.rlib
target/x86_64-pc-windows-gnu/debug/deps/libtokio-47ef90f1936f7b24.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libtracing_subscriber-66feb3bb316d5352.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwinapi-68d868ac6fa70417.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwinapi-68d868ac6fa70417.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows-245a0ab06b6ac8a9.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows-245a0ab06b6ac8a9.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows-297130d70759fff0.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows-297130d70759fff0.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-331931a9454d8cb7.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-331931a9454d8cb7.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-3e5cb3877c715b05.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-4baf89831a2bfc0d.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-4baf89831a2bfc0d.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-b69c9285892438b1.rlib
target/x86_64-pc-windows-gnu/debug/deps/libwindows_sys-b69c9285892438b1.rmeta
target/x86_64-pc-windows-gnu/debug/deps/libzerocopy-be2a8191e43c1b19.rlib
target/x86_64-pc-windows-gnu/debug/deps/libzerocopy-be2a8191e43c1b19.rmeta
target/x86_64-pc-windows-gnu/debug/deps/netvan_api-36294351ffdfc971.exe
target/x86_64-pc-windows-gnu/debug/incremental/netvan_api-31r4qtnn769nv/s-hkzwqnaobf-1h9luyu-5djomkv8pfuggk4ki6mfmdq8v/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_api-31r4qtnn769nv/s-hkzwqnaobf-1h9luyu-5djomkv8pfuggk4ki6mfmdq8v/query-cache.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_collectors-0d0zrwzjtlri4/s-hkzwqetpxl-1t8c3n9-6uv8pqg480n6w5o9xhhkvb07d/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_collectors-0d0zrwzjtlri4/s-hkzwqetpxl-1t8c3n9-6uv8pqg480n6w5o9xhhkvb07d/query-cache.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_core-354mh8gtwxtwb/s-hkzwpvdji5-1u6vfwg-68qlu4tzdce4hembmua0yqp1l/dep-graph.bin
target/x86_64-pc-windows-gnu/debug/incremental/netvan_core-354mh8gtwxtwb/s-hkzwpvdji5-1u6vfwg-68qlu4tzdce4hembmua0yqp1l/query-cache.bin
# END AUTO-MANAGED LARGE FILES
